{
  "presets": [
    "es2015",
    "react",
    "next/babel"
  ],
  "env": {
    "development": {
      "plugins": ["inline-dotenv"]
  },
  "plugins": [
    "styled-jsx/babel",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-runtime",
    "emotion/babel"
    ]
  }
}
